asgiref==3.9.1
cffi==1.17.1
cryptography==45.0.7
Django==5.2.5
django-summernote==0.8.20.0
filelock==3.19.1
pillow==11.3.0
pycparser==2.22
PyYAML==6.0.2
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
