{% extends "main/base.html" %}
{% load static %}
{% load assets %}

{% block content %}
<h2>OCIA Participant - Delete Record</h2>
<form method="post">
  {% csrf_token %}
  {% include "ocia/progress.html" with node_index=2 %}
  {% include "main/form.html" %}
  <div class="spacer"></div>          
  <div class="header">Continue</div>
  <div class="help">Hit the <strong>Next</strong> button to continue to the next form:</div>
  <button type="submit" name="next"><i class="fas fa-arrow-right"></i> Next</button>
</form>
{% endblock %}